%h2 DetailRoom : #{@droom.roomname} size : #{@droom.amount}

%table#rooms
  %thead
    %tr
      %th day
      %th 8.00-9.30
      %th 9.30-11.00
      %th 11.00-12.30
      %th 12.30-13.00
      %th 13.30-15.00
      %th 15.00-16.30
      %th 16.30-18.00
      %th 18.00-21.00
      %th reserve
  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.day
        %td= room.first
        %td= room.second
        %td= room.third
        %td= room.fourth
        %td= room.fifth
        %td= room.sixth
        %td= room.seventh
        %td= room.eighth
        %td=link_to "reserve", room_path(room)
       
= link_to "แก้ไขข้อมูลห้อง #{@droom.roomname}", edit_room_path(@droom)
= link_to "ลบข้อมูลห้อง #{@droom.roomname}", room_path(@droom), method: :delete, data: { confirm: 'Are you sure?' }
