%h3 ข้อมูลการจองที่มีทั้งหมดในระบบ

%table
  %tr
    %th ชื่อห้อง
    %th วันที่จอง
    %th เวลาเริ่ม

  - @reserves.each do |reserf|
    %tr
      %td= reserf.name
      %td= reserf.room_id
      %td= link_to "ดูรายละเอียดการจองห้อง #{reserf.room_id} โดย #{reserf.name}", reserf_path(reserf)

%br

= link_to 'New Reserve', new_reserf_path
