%h3 ข้อมูลการจองที่มีทั้งหมดในระบบ

%table
  %tr
    %th วันที่จอง
    %th เวลาเริ่ม
    %th เวลาสิ้นสุด
    %th ชื่อห้อง
    %th สถานะ
    %th พิจารณาการจอง

  - @reserves.each do |reserf|
    %tr
      %td= reserf.date_to_reserve
      %td= reserf.start_time
      %td= reserf.finish_time
      %td= reserf.roomname
      %td= reserf.status
      %td= link_to "พิจารณาการจองห้อง #{reserf.roomname}", reserf_path(reserf)

%br

= link_to 'New Reserve', new_reserf_path
