%h1 Listing welcomes

%table
  %tr
    %th
    %th
    %th

  - @welcomes.each do |welcome|
    %tr
      %td= link_to 'Show', welcome
      %td= link_to 'Edit', edit_welcome_path(welcome)
      %td= link_to 'Destroy', welcome, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if @welcomes.count >= 4
  #cf4a.shadow
    = image_tag @welcomes[0].img , :width => "800px"
    = image_tag @welcomes[1].img , :width => "800px"
    = image_tag @welcomes[2].img , :width => "800px"
    = image_tag @welcomes[3].img , :width => "800px"


= link_to 'New Welcome', new_welcome_path
