%h1 Editing room : #{@droom.roomname}

= form_tag room_path(@droom), :method => :put do

  = label :droom, :roomname, 'Roomname'
  = text_field :droom, 'roomname'
  
  = label :droom, :amount, 'Amount'
  = text_field :droom, 'amount'

  = label :droom, :room_type, 'Roomtype'
  = select :droom, :room_type, DetailRoom.all_types

  %br
  - @rooms.each do |room|
    = room.day
    %br
    - @box_times[0].each do |time|
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = time[0]
      = time[1]
      = room[time[1]]
      = hidden_field_tag "#{room.day}[#{time[1]}]",0
      = check_box_tag "#{room.day}[#{time[1]}]",1, room[time[1]] == "busy" ? true:false
      %br
    %br  
  = label :tool, :amplifier, 'Amplifier'
  = text_field :tool, 'amplifier'

  = label :tool, :microphone, 'Microphone'
  = text_field :tool, 'microphone'

  = label :tool, :computer, 'Computer'
  = text_field :tool, 'computer'

  = label :tool, :overhead_projector, 'Overhead_projector'
  = text_field :tool, 'overhead_projector'

  = label :tool, :lcd_projector, 'Lcd_projector'
  = text_field :tool, 'lcd_projector'

  = label :tool, :television, 'Television'
  = text_field :tool, 'television'

  = label :tool, :voice_recorder, 'Voice_recorder'
  = text_field :tool, 'voice_recorder'

  = label :tool, :video_recorder, 'Video_recorder'
  = text_field :tool, 'video_recorder'

  = label :tool, :visualizer, 'Visualizer'
  = text_field :tool, 'visualizer'

  = label :tool, :loudspeaker, 'Loudspeaker'
  = text_field :tool, 'loudspeaker'
  
  %br
  = submit_tag 'ยืนยันการแก้ไขข้อมูลห้อง'

= link_to 'Back', staffs_path
\|
= link_to 'Back', rooms_path

= link_to 'ตกลง', rooms_path
