%h1 New room


= form_tag rooms_path do

  = label :room, :room_id, 'Room_id'
  = text_field :room, 'room_id'

  = label :room, :status, 'Status'
  = text_field :room, 'status'

  = submit_tag 'เพิ่มห้องใหม่'

= link_to 'Back', rooms_path
