%h1 New room


= form_tag rooms_path do

  = label :room, :roomname, 'Roomname'
  = text_field :room, 'roomname'

  = label :detail_rooms, :amount, 'Amount'
  = text_field :detail_rooms, 'Amount'
  %br
  - @day_list.each do |day|
    = day
    %br
    - @box_times.each do |time|
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = time
      = hidden_field_tag "#{day}[#{time}]",0
      = check_box_tag "#{day}[#{time}]",1
    %br  

  = submit_tag 'เพิ่มห้องใหม่'

= link_to 'Back', staffs_path
