%h1 Show Available room

%p แสดงผล

%table#rooms
  %thead
    %tr
      %th roomname
      %th volume
      %th more info
  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.roomname
        %td= room.roomname
        - if @admin == nil
          %td= link_to "ดูสถานะห้อง #{room.roomname}", room_path(room)
        - else
          %td= link_to "ดูสถานะห้อง #{room.roomname}", staff_path(room)
        

= link_to 'Back', rooms_path
