%h1 Show search room

%p แสดงผล time : #{@time_select} , day : #{@day_select} ,amount : #{@size_select}

%table#rooms
  %thead
    %tr
      %th roomname
      %th amount
      %th more info
  %tbody
    - @free_rooms.each_with_index do |room,i|
      %tr
        %td= room.roomname
        %td= @size[i]
        - if @admin == nil
          %td= link_to "ดูสถานะห้อง #{room.roomname}", room_path(room)
        - else
          %td= link_to "ดูสถานะห้อง #{room.roomname}", staff_path(room)
        

= link_to 'Back', rooms_path
