%h3 กรุณาระบุข้อมูลที่จำเป็นสำหรับการค้นหาห้องว่าง
%h5 (หากไม่ทราบจำนวนคน กรุณาเว้นว่างไว้)

= form_tag search_result_path ,:method=>:get do

  = label :amount, nil, 'Amount'
  = text_field :amount, nil

  = label :day, nil, 'Day'
  = select :day, nil, @day_list

  = label :section, 'Section'
  = select :section, nil, @time
  %br
  = submit_tag 'ค้นหา'

